<div>
  <!-- Heading Section -->
  <section class="pt-10 md:pt-15 lg:pt-20 pb-10">
    <div class="container text-center">
      <h1
        class="text-4xl md:text-5xl lg:text-6xl font-serif font-bold text-gray-800"
      >
        About Olive & Oak
      </h1>
      <p class="md:text-lg italic mt-4 max-w-180 mx-auto text-gray-600">
        Where nature&apos;s finest flavors meet timeless craftsmanship.
      </p>
    </div>
  </section>

  <!-- Our Story Section -->
  <section class="bg-white py-10 md:py-15 lg:py-20">
    <div
      class="container grid grid-cols-1 md:grid-cols-2 justify-between gap-5 md:gap-10 lg:gap-15"
    >
      <!-- Content -->
      <div class="py-5">
        <!-- Section Heading -->
        <div>
          <h2
            class="text-3xl md:text-4xl xl:text-5xl font-bold font-serif text-gray-800"
          >
            Our Story
          </h2>
          <p class="mt-5 md:mt-7 lg:mt-10 md:text-lg italic">
            At <strong>Olive & Oak</strong>, we believe that food is more than
            nourishment — it&apos;s connection, memory, and celebration.
          </p>
          <p class="mt-3 md:text-lg italic">
            Our journey began with a simple idea: create a place where people
            can enjoy honest, beautifully crafted dishes made from the freshest
            ingredients.
          </p>
          <p class="mt-3 md:text-lg italic">
            From the richness of cold-pressed olive oil to the earthy aroma of
            oak-smoked flavors, every element of our menu reflects our passion
            for quality and authenticity.
          </p>
        </div>
      </div>

      <!-- Image -->
      <div class="h-full">
        <picture>
          <!-- Fallback Images -->
          <source srcset="/images/story.avif" type="image/avif" />
          <source srcset="/images/story.webp" type="image/webp" />
          <img
            src="/images/story.jpg"
            alt="From Kitchen to Heart"
            width="2400"
            height="1600"
            title="Photo by Igor Rand on Unsplash"
            loading="lazy"
            class="w-full h-full object-cover rounded-xl"
          />
        </picture>
      </div>
    </div>
  </section>

  <!-- Our Philosophy -->
  <section class="py-10 md:py-15 lg:py-20">
    <div
      class="container grid grid-cols-1 md:grid-cols-2 justify-between gap-5 md:gap-10 lg:gap-15"
    >
      <!-- Content -->
      <div class="py-5 md:order-last">
        <!-- Section Heading -->
        <div>
          <h2
            class="text-3xl md:text-4xl xl:text-5xl font-bold font-serif text-gray-800"
          >
            Our Philosophy
          </h2>
          <p class="mt-5 md:mt-7 lg:mt-10 md:text-lg italic">
            We cook with intention.
          </p>
          <p class="mt-3 md:text-lg italic">
            Every dish is designed with balance, freshness, and comfort in mind
            — blending Mediterranean warmth with modern culinary creativity.
          </p>
        </div>
      </div>

      <!-- Image -->
      <div class="h-full">
        <picture>
          <!-- Fallback Images -->
          <source srcset="/images/philosophy.avif" type="image/avif" />
          <source srcset="/images/philosophy.webp" type="image/webp" />
          <img
            src="/images/philosophy.jpg"
            alt="Our Philosophy"
            width="2400"
            height="1600"
            title="Photo by Reiner Knudsen on Unsplash"
            loading="lazy"
            class="w-full h-full object-cover rounded-xl"
          />
        </picture>
      </div>
    </div>
  </section>

  <!-- What Makes Us Different -->
  <section class="py-10 md:py-15 lg:py-20 bg-white">
    <!-- Heading -->
    <h2
      class="text-[28px] md:text-4xl xl:text-5xl font-bold font-serif text-gray-800 text-center"
    >
      What Makes Us Different
    </h2>

    <!-- Content -->
    <div
      class="container grid grid-cols-1 md:grid-cols-3 gap-5 md:gap-7 lg:gap-10 mt-10"
    >
      <!-- First Card -->
      <div class="rounded-lg bg-gray-100 md:text-center p-5 space-y-2">
        <h3 class="font-serif text-2xl font-bold text-gray-800">
          Freshness First
        </h3>
        <p class="italic text-gray-600">
          We partner with trusted local farmers and artisans to bring you the
          best of the season — always fresh, always flavorful.
        </p>
      </div>

      <!-- Second Card -->
      <div class="rounded-lg bg-gray-100 md:text-center p-5 space-y-2">
        <h3 class="font-serif text-2xl font-bold text-gray-800">
          Crafted With Care
        </h3>
        <p class="italic text-gray-600">
          Our chefs combine culinary expertise with creativity, offering dishes
          that honor tradition while embracing innovation.
        </p>
      </div>

      <!-- Third Card -->
      <div class="rounded-lg bg-gray-100 md:text-center p-5 space-y-2">
        <h3 class="font-serif text-2xl font-bold text-gray-800">
          A Space to Belong
        </h3>
        <p class="italic text-gray-600">
          <strong>Olive & Oak</strong> is designed as a warm, welcoming space
          where families, friends, and food lovers gather to relax, share
          stories, and enjoy great food together.
        </p>
      </div>
    </div>
  </section>

  <!-- Our Promise Section -->
  <section class="py-10 md:py-15 lg:py-20">
    <!-- Heading -->
    <h2
      class="text-[28px] md:text-4xl xl:text-5xl font-bold font-serif text-gray-800 text-center"
    >
      Our Promise
    </h2>

    <!-- Content -->
    <div class="container max-w-3xl! mx-auto mt-10 text-gray-800">
      <h3 class="font-serif font-bold md:text-xl">
        At <i>Olive & Oak</i>, we&apos;re committed to delivering:
      </h3>

      <!-- Promises -->
      <ul class="mt-5 grid grid-cols-1 md:grid-cols-2 gap-3">
        <li class="flex items-center gap-2">
          <!-- Checkmark Icon -->
          <div class="p-1 bg-white rounded-full border border-gray-600">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-check text-gray-600 size-5"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l5 5l10 -10" />
            </svg>
          </div>
          <p class="italic text-gray-600 font-medium">
            Consistently exceptional dishes
          </p>
        </li>
        <li class="flex items-center gap-2">
          <!-- Checkmark Icon -->
          <div class="p-1 bg-white rounded-full border border-gray-600">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-check text-gray-600 size-5"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l5 5l10 -10" />
            </svg>
          </div>
          <p class="italic text-gray-600 font-medium">Thoughtful service</p>
        </li>
        <li class="flex items-center gap-2">
          <!-- Checkmark Icon -->
          <div class="p-1 bg-white rounded-full border border-gray-600">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-check text-gray-600 size-5"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l5 5l10 -10" />
            </svg>
          </div>
          <p class="italic text-gray-600 font-medium">
            A comfortable, modern dining experience
          </p>
        </li>
        <li class="flex items-center gap-2">
          <!-- Checkmark Icon -->
          <div class="p-1 bg-white rounded-full border border-gray-600">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-check text-gray-600 size-5"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l5 5l10 -10" />
            </svg>
          </div>
          <p class="italic text-gray-600 font-medium">
            A place where every visit feels special
          </p>
        </li>
      </ul>
    </div>
  </section>

  <!-- Founder's Message Section -->
  <section class="py-10 md:py-15 lg:py-20 bg-white">
    <!-- Heading -->
    <h2
      class="text-2xl md:text-3xl lg:text-4xl font-bold font-serif text-gray-800 text-center"
    >
      A Word from Our Founder
    </h2>

    <div class="container mt-5 md:mt-10 max-w-3xl!">
      <!-- Quote -->
      <blockquote class="italic font-medium">
        <q>
          Olive & Oak is built on the belief that simple ingredients, treated
          with respect, create extraordinary food. Our goal is to make every
          guest feel at home — welcomed, appreciated, and inspired to come back
          again.
        </q>
      </blockquote>

      <!-- Founder Name -->
      <p class="mt-5 md:mt-10 font-bold font-serif">— John Doe, Founder</p>
    </div>
  </section>
</div>
